body,td,th {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4C130E;
}
body {
    background-color: #F2E6A6;
    margin-top: 100px;
}
#wrap {
    width: 80%;
    height: auto;
    margin: 100px;
    
}
a:link {
	color: rgba(2,50,16,1);
	text-decoration: none;
}
a:visited {
	color: rgba(2,50,16,1);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: rgba(59,93,6,1);
}
a:active {
	text-decoration: none;
	color: rgba(100,7,8,1);
}
h1,h2,h3,h4,h5,h6 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-weight: bold;
}
h1 {
    margin: 40px;
    font-size: 36px;
    color: rgba(36,137,197,1);
}
h2 {
    font-size: 24px;
    color: rgba(24,122,86,1);
}
h3 {
    font-size: 18px;
    color: rgba(251,235,108,1);
}
h4 {
    font-size: 12px;
    color: rgba(199,30,43,1);
}
header  {
    height: 65px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgba(24,122,86,1);
    margin-left: 40px;
}

#mainArea {
    height: auto;
    border: thick dotted rgba(240,237,216,1.00);
    background-color: rgb(248, 206, 90);
    margin: auto;
    width: 80%;
}
footer {
    width: 80%;
   margin-left: 120px;
    margin-top: 100px;
    height: auto;
}
ul {
    margin: 120px;
    height:200px; 
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-weight: bold;
    padding: 10px;
}
