body {
    background-color: azure;
    overflow: hidden;
    height: 100%;
}
div {
    position: absolute;
    background-color: rgb(17, 145, 145);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    left: 0;
    bottom: -100px;
    animation: bubbleup 5s ease-in infinite;
}
@keyframes bubbleup {
    0%{
        bottom: -100px;
        transform: translateX(0px);
    }
    25%{       
        transform: translateX(-60px);
    }
    50%{
        transform: translateX(120px);
    }
    75%{
        transform: translateX(100px);
    }
    
    100%{
        bottom: 800px;
        transform: translateX(200px);
    }
}


div:nth-child(2) {
    animation-delay: 8s;
    width: 15px;
    height: 15px;
    left: 100px;
}
div:nth-child(3) {
    animation-duration: 11s;
    animation-delay: 1s;
    width: 20px;
    height: 20px;
    left: 90%;
}
div:nth-child(4) { 
    animation-duration: 5s;
    animation-delay: 5s;
    width: 30px;
    height: 30px;
    left: 30%;
}
div:nth-child(5) {
    animation-duration: 7s;
    animation-delay: 0s;
    width: 25px;
    height: 25px;
    left: 40%;
}
div:nth-child(6) {
    animation-duration: 9s;
    animation-delay: 1s;
    width: 27px;
    height: 27px;
    left: 50%;
}
div:nth-child(7) {
    animation-duration: 9s;
    animation-delay: 2s;
    width: 20px;
    height: 20px;
    left: 60%
}
div:nth-child(8) {
    animation-duration: 7s;
    animation-delay: 2s;
    width: 17px;
    height: 17px;
    left: 80%
}
div:nth-child(9) {
    animation-duration: 10s;
    animation-delay: 3s;
    width: 21px;
    height: 21px;
    left: 90%
}
div:nth-child(10) {
    animation-duration: 9s;
    animation-delay: 5s;
    width: 30px;
    height: 30px;
    left: 100%
}